table {
  width: 350px;
}

table,
td,
caption {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.4em;
  text-align: center;
}

td:nth-of-type(6),
td:nth-of-type(7) {
  background: #ebf5d7;
  color: #666;
}

caption,
tr:first-of-type {
  background: #666;
  color: #c4ced3;
  font-weight: bold;
}
td.today {
  color: #000;
  /* font-weight: bold; */
  background: #ffebe6;
  text-shadow: 0 0 0.2em #f87, 0 0 0.2em #f87;
}
